.x-form-check{background:none;}
.x-form-radio{background:none;}

.x-form-label {
  padding: 2 3 3 0px;
  font-size: 12px;
}

.x-form-label-top .x-form-item {
  padding-bottom: 0px;
  margin-bottom:2px;
}

.ext-safari .x-form-text {
  height: 22px; /* safari always same size */
  padding: 0 3px; /* remove extra top/bottom padding */
}

.ext-safari .x-small-editor .x-form-text {
  height: 20px;
}

.ext-ie .x-small-editor .x-form-text {
  margin: 0px !important;
}

.ext-ie .x-form-text {
  margin: 0px !important;
}

.ext-ie .x-form-text {
  POSITION: relative;
  TOP: -1px
}

.x-form-group .x-form-check-wrap {
  float: left;
  padding-right: 2px;
}

.x-form-group .x-form-check-wrap .x-form-group-label {
  float: left;
}

.x-form-group .x-form-radio-wrap {
  float: left;
  padding-right: 2px;
}

.x-form-group-label,.x-form-cb-label {
  font: normal 12px tahoma, arial, helvetica, sans-serif;
  padding-right: 10px;
}