.x-date-right-icon {
  background-image: url(../images/default/shared/right-btn.gif);
  margin-right: 2px;
  text-decoration: none !important;
}

.x-date-left-icon {
  background-image: url(../images/default/shared/left-btn.gif);
  margin-right: 2px;
  text-decoration: none !important;
}.my-info {
  background: url(images/gray/info/info-bg.gif) no-repeat;
}.my-tbl {
	border: 1px solid #C6C5C5;
}.my-treetbl {
	border: 1px solid #C6C5C5;
}