.arrow-top {
  background: url(../images/gxt/icons/top2.gif) no-repeat center left !important;
}
.arrow-bottom {
  background: url(../images/gxt/icons/bottom2.gif) no-repeat center left !important;
}
.arrow-up {
  background: url(../images/gxt/icons/up2.gif) no-repeat center left !important;
}
.arrow-down {
  background: url(../images/gxt/icons/down2.gif) no-repeat center left !important;
}
.arrow-left {
  background: url(../images/gxt/icons/left2.gif) no-repeat center left !important;
}
.arrow-double-left {
  background: url(../images/gxt/icons/doubleleft2.gif) no-repeat center left !important;
}
.arrow-right {
  background: url(../images/gxt/icons/right2.gif) no-repeat center left !important;
}
.arrow-double-right {
  background: url(../images/gxt/icons/doubleright2.gif) no-repeat center left !important;
}
