.x-date-picker, .x-date-picker a {
  font-size: 11px; 
}

.x-date-right-icon {
  background-image: url(../images/default/shared/right-btn.gif);
  margin-right: 2px;
  text-decoration: none !important;
}

.x-date-left-icon {
  background-image: url(../images/default/shared/left-btn.gif);
  margin-right: 2px;
  text-decoration: none !important;
}

.x-date-days {
  table-layout: fixed;
  width: 100%;
}

.x-date-days td {
  width: 25px;
  border: none;
}

.x-date-days td span {
  display: block;
  padding: 2px 7px 2px 2px;
}

.x-date-days td {
  background: #DFECFB url(../images/default/shared/glass-bg.gif) repeat-x scroll left top;
  border-bottom: 1px solid #A3BAD9;
  border-collapse: separate;
  color: #233D6D;
  cursor: default;
  font-family: arial, helvetica, tahoma, sans-serif;
  font-size: 10px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  padding: 0pt;
  text-align: right !important;
}

.x-date-picker .x-date-header {
  background: url(../images/default/shared/hd-sprite.gif) repeat-x 0 -83px;
  height: 22px;
  left: 10px;
  top: 10px;
  width: 157px;
}

.x-date-header .x-btn .x-btn-text {
  color: #fff;
}

.x-date-picker-footer {
  width: 100%;
}

.x-date-picker-footer td {
  text-align: center;
}

.x-date-left {
  background: transparent url(../images/default/shared/hd-sprite.gif) repeat-x scroll 0pt -83px;
  color: #FFFFFF;
  font-family: "sans serif", tahoma, verdana, helvetica;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
  overflow: hidden;
}